apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJpakNDQVRDZ0F3SUJBZ0lSQU9DT3pNVEVmdDRZY2lvUWpVV0FHVVV3Q2dZSUtvWkl6ajBFQXdJd0ZURVQKTUJFR0ExVUVDaE1LYTNWaVpYSnVaWFJsY3pBZUZ3MHlOVEEyTVRVeE56VXpNREZhRncwek5UQTJNVE14TnpVegpNREZhTUJVeEV6QVJCZ05WQkFvVENtdDFZbVZ5Ym1WMFpYTXdXVEFUQmdjcWhrak9QUUlCQmdncWhrak9QUU1CCkJ3TkNBQVEwTTk1K3o4dFJkRGU3d1pvTVU2M213eEhvOGlHV0VVblJxaXpXZnFrU1ZnUWl0WVJ0ZGhxdDZnV0EKUStUZTlXMWZvTEFieGFFS0RMZWdsRzZsNGwwTm8yRXdYekFPQmdOVkhROEJBZjhFQkFNQ0FvUXdIUVlEVlIwbApCQll3RkFZSUt3WUJCUVVIQXdFR0NDc0dBUVVGQndNQ01BOEdBMVVkRXdFQi93UUZNQU1CQWY4d0hRWURWUjBPCkJCWUVGRkx6dFNpSFlmZjZ0RFd6MkZoUVlLV1Vjc1VJTUFvR0NDcUdTTTQ5QkFNQ0EwZ0FNRVVDSVFETi8rYmkKR1N0ZWtqNGhtNlpySnd1TldkK1hwNUt3NHFvYnJnRGw4U1ZhU0FJZ0hIaUR1cG8vMi95M0M2eHU1VGpkYVc4awpEVTA1WnZnZmJnYnMzWWhwVGpnPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    server: https://10.57.57.88:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: admin@kubernetes
  name: admin@kubernetes
current-context: admin@kubernetes
kind: Config
users:
- name: admin@kubernetes
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJoVENDQVNxZ0F3SUJBZ0lRWXpIeG1yRmMzbXg0bHh4QVRPR2QwakFLQmdncWhrak9QUVFEQWpBVk1STXcKRVFZRFZRUUtFd3ByZFdKbGNtNWxkR1Z6TUI0WERUSTFNRGt4TVRBMk1UVXdORm9YRFRJMk1Ea3hNVEEyTVRVeApORm93S1RFWE1CVUdBMVVFQ2hNT2MzbHpkR1Z0T20xaGMzUmxjbk14RGpBTUJnTlZCQU1UQldGa2JXbHVNRmt3CkV3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFWDhYN2lYVi8wNDlFSHFhbmYzWFlXWmhWRmtlT2dxR2YKbklaVWZXWXpkVjJKWFg3S2hUTkFwRnNTOTV6QkQwbW8wL3QyQjdhMU4rbGxCZUVUZDF3WllhTklNRVl3RGdZRApWUjBQQVFIL0JBUURBZ1dnTUJNR0ExVWRKUVFNTUFvR0NDc0dBUVVGQndNQ01COEdBMVVkSXdRWU1CYUFGRkx6CnRTaUhZZmY2dERXejJGaFFZS1dVY3NVSU1Bb0dDQ3FHU000OUJBTUNBMGtBTUVZQ0lRQ2VJWnQ0YitwRDZhMzIKU1ZndXBuZHRsY0dpMkNiNXlqaGJjM3FqOW1kbU13SWhBTXh0bXlWNlJBcWZpTDJnMVFpNW5iRlIxRVVKQXhGYgp3MkdKNGI4eGN6VG0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSU1VRVovWkZGUlJXRW9EblNJODJZTExxbWxWRXNyN2JHclRVWHkzWElHYTVvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFWDhYN2lYVi8wNDlFSHFhbmYzWFlXWmhWRmtlT2dxR2ZuSVpVZldZemRWMkpYWDdLaFROQQpwRnNTOTV6QkQwbW8wL3QyQjdhMU4rbGxCZUVUZDF3WllRPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=
